rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Contenido público (solo lectura)
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }

  }
}
